
ManualDecoration/obj/Debug/net8.0/

ManualDecoration/obj/

.vs/ManualDecoration/FileContentIndex/

.vs/ManualDecoration/v17/

ManualDecoration/bin/Debug/net8.0/

.vs/ManualDecoration/config/

.vs/ManualDecoration/DesignTimeBuild/

.vs/ProjectEvaluation/

RetryNetDirectly/obj/

RetryNetDirectly/bin/Debug/net8.0/

.vs/

RetryNetDirectly/bin/Debug/net9.0/

Server/bin/Debug/net6.0/

Server/obj/
